site_name: cross-search-trackers
theme:
  name: material
  font:
    text: Kanit
    code: Ubuntu Mono
  palette: 
	- scheme: default
	  primary: amber
      accent: deep orange
      toggle:
        icon: material/toggle-switch 
        name: Switch to dark mode
    - scheme: slate 
	  primary: amber
      accent: deep orange
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
  features:
    - header.autohide
  icon:
    repo: fontawesome/brands/github
repo_url: https://github.com/lukacoufyl/cross-search-trackers
repo_name: lukacoufyl/cross-search-trackers
